{% extends "base.html" %}

{% block content %}
<div class="container px-md-2 px-lg-2"><br><br>
    <div class="row justify-content-center mt-0">
        <div class="col-sm-12 col-md-8 col-lg-10 items mt-0">
            {%for quote in quotes%}
            <blockquote class="blockquote text-center">
                <div class="todo-card">
                    <p class="mb-2  nowhover t-font">{{quote.content}}</p>
                    
                        <p class="mb-0 blockquote-footer cl-effect-4">《{{books[loop.index-1].name}}》<cite title="Source Title">
                                <a href="{{url_for('authors.author',author_id=authors[loop.index-1].id)}}">{{authors[loop.index-1].name}}</a></cite>
                        </p>
                    
                </div>
            </blockquote>

            {%endfor%}
        </div>
    </div>
</div>
<br>
{% endblock %}
{% block footer %}
<footer>
    <div class="container border-bottom">
        <div class="row">


            <div class="col-md-12">
                <div class="py-4 d-flex justify-content-center align-items-center">
                    ©2022 <a class="white-text" href="https://github.com/QEASONT" target="_blank">Qian Tang and Liu
                        Shijing</a>. All
                    rights
                    reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}